<%= form_for([:admin, page], html:{class:"form-horizontal"}) do |f| %>
  <% if page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "Sayfa Adı :", class:"control-label col-sm-2" %>
    <div class="col-sm-10"><%= f.text_field :title, class:"form-control" %></div>
  </div>

  <div class="form-group">
    <%= f.label "Etiketler :", class:"control-label col-sm-2" %>
    <div class="col-sm-10"><%= f.text_field :keywords, class:"form-control" %></div>
  </div>

  <div class="form-group">
    <%= f.label "Açıklama :", class:"control-label col-sm-2" %>
    <div class="col-sm-10"><%= f.text_area :desc, class:"form-control" %></div>
  </div>

  <div class="form-group">
    <%= f.label "Üst Sayfa :", class:"control-label col-sm-2" %>
    <div class="col-sm-10"><%= f.collection_select :parent, Page.all, :id, :title, {include_blank: "Üst sayfa yok"}, {class:"form-control"} %></div>
  </div>
  
  <div class="form-group">
    <%= f.label "Görsel :", class:"control-label col-sm-2" %>
    <div class="col-sm-10"><%= f.file_field :image, class:"form-control" %></div>
  </div>
  
  <div class="form-group">
    <%= f.label "Durum :", class:"control-label col-sm-2" %>
    <div class="col-sm-10">
        <label for="page_status"><%= f.check_box :status %> Bu sayfayı yayımla.</label>
        </div>
  </div>

  <div class="form-group">
    <%= f.label "İçerik :", class:"control-label col-sm-2" %>
    <div class="col-sm-10"><%= f.text_area :content, class:"form-control ckeditor" %></div>
  </div>


  <div class="form-group">
   <label for="" class="col-sm-2"> </label>
      <div class="col-sm-10"><%= f.submit "Kaydet", class:"btn btn-primary" %></div>
  </div>
<% end %>
