<p>
  <strong>Title:</strong>
  <%= @page.title %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @page.keywords %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @page.desc %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @page.parent %>
</p>

<p>
  <strong>Content:</strong>
  <%= @page.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= @page.image %>
</p>

<p>
  <strong>Status:</strong>
  <%= @page.status %>
</p>