<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @post.keywords %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @post.desc %>
</p>

<p>
  <strong>Category:</strong>
  <%= @post.category_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= @post.image %>
</p>

<p>
  <strong>Status:</strong>
  <%= @post.status %>
</p>