<h1>Kullanıcılar</h1>
<div style="padding:10px 0px;"><%= link_to 'Yeni Kullanıcı', new_admin_user_path, class:"btn btn-primary colorwhite" %></div>
<table class="table table-bordered table-hover table-striped">
  <thead>
    <tr>
      <th>Kullanıcı</th>
      <th>Kullanıcı Adı</th>
      <th>E-posta</th>
      <th width="100">Cinsiyet</th>
      <th width="130">Doğrum Tarihi</th>
      <th width="100">Durum</th>
      <th width="100"></th>
      <th width="10"></th>
      <th width="10"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.full_name %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.gender %></td>
        <td><%= user.birthday %></td>
        <td><%= user.group_name %></td>
        <td><%= link_to 'Şifre Değiş', admin_user_new_password_path(user) %></td>
        <td><%= link_to 'Düzenle', edit_admin_user_path(user) %></td>
        <td><%= link_to 'Sil', [:admin, user], method: :delete, data: { confirm: 'Üyeyi silmek istediğinizden emin misiniz?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


